.skeleton {
  width: 100%;
  background-color: #ddd;
  overflow: hidden;
  border-radius: 4px;
  margin: 15px 0;
}

.skeleton.countryCard {
  background-color: white;
  height: 400px;
  width: 300px; 
  margin: 0px;
}

.skeleton.detail {
  width: 50%;
  height: 0.75em;
}

.skeleton.name {
  width: 50%;
  height: 2em;
}

.skeleton.img {
  width: 100%;
  height: 60%;
  margin: 0px;
}

.skeleton-wrapper {
  background: #f2f2f2;
  height: min-content;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

/* Shimmer */

.shimmer-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  animation: shimmer 2s infinite;
}

.shimmer{
  transform : skewX(-20deg);
  background-color: rgb(255, 255, 255, 0.5);
  width: 50%;
  height: 100%;
}
/* animation */

@keyframes shimmer{
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(150%);
  }
}